<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      投稿一覧
    </div>
    <div class="card-body">
      <ul>
        <%= render @posts %>
      </ul>
      <%= paginate @posts if @posts.respond_to?(:total_pages) %>
    </div>
  </div>
</div>